@charset "UTF-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 97px;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li{
  margin-right: 20px;
  margin-left: 20px;
}

.site-menu ul li a {
  font-weight: bold;
}

/* footer */
.footer {
  color: #000;
  background-color: #EDEDED;
  padding-top: 45px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contents {
  width: 930px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
}

.footer-logo {
  display: block;
  width: 170px;
  margin-right: 20px;
}

.footer-detail {
  padding-left: 20px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
}

.footer-time {
  font-size: 13px;
  margin-top: 16px;
  line-height: 1.5em;
}

.footer-site-menu h3 {
  font-size: 12px;
  color: #acacac;
}

.footer-site-menu {
  width: 25%;
  max-height: 100px;
  padding-left: 20px;
  border-left: 1px solid #acacac;
}

.footer-site-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-site-menu ul li {
  margin-top: 12px;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  color: #acacac;
  margin-top: 60px;
  align-items: center;
}

/* ここからレスポンシブ */
@media (max-width: 800px) {
  .site-menu ul {
    display: block;
    text-align: center;
  }

  .site-menu li {
    margin-top: 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 60px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-logo {
    width: 100px;
  }

  .header-logo img {
    height: 45px;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(./icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .main {
    padding-top: 50px;
  }

  .footer {
    padding-top: 33px;
  }

  .footer-contents {
    flex-direction: column-reverse;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .footer-logo {
    width: 120px;
  }

  .footer-tel {
    font-size: 20px;
  }

  .footer-site-menu {
    width: 100%;
    margin: 0 auto;
    border-left: none;
    max-height: 100%;
    padding-left: 0;
  }

  .footer-site-menu h3 {
    display: none;
  }

  .footer-site-menu ul  {
    display: block;
  }

  .footer-site-menu ul li {
    line-height: 3em;
    margin-top: 4px;
  }

  .footer-site-menu ul::after {
    content: '';
    display: block;
    height: 1.5px;
    background-color: #acacac;
    margin: 20px auto;
  }

  .copyright {
    margin-top: 50px;
  }
}